<template>
    <div class="container" style="width: 70%">
        <div class="buttons">
            <span class="button is-success is-outlined "
                  v-bind:class="{ 'is-focused': action==='C'}" @click="crud('C')"
            >Create</span>
            <span class="button is-info is-outlined"
                  v-bind:class="{ 'is-focused': action==='R'}" @click="crud('R')"
            >Show</span>
            <span class="button is-primary is-outlined"
                  v-bind:class="{ 'is-focused': action==='U'}" @click="crud('U')"
            >Update</span>
            <span class="button is-danger is-outlined"
                  v-bind:class="{ 'is-focused': action==='D'}" @click="crud('D')"
            >Delete</span>
            <span class="button" @click="crud('reset')">Reset</span>
        </div>

        <div class="">


            <!--search schema or content by campaign ID-->
            <div  v-show="showCampaignId" class="field " style="margin-bottom: 2%">
                <label class="label">Campaign ID</label>
                <div class="control">
                    <input  class="input " type="text" v-model="campaign_id" placeholder="Choose campaign ID" >
                </div>
            </div>

            <!--search content also by idecran-->
            <div  v-show="showIdEcran" class="field " style="margin-bottom: 2%">
                <label class="label">ID ecran</label>
                <div class="control">
                    <input  class="input " type="text" v-model="idecran" placeholder="Choose idecran (default=all)" >
                </div>
            </div>

            <div  v-show="showIdEcran ||showCampaignId" class="field is-grouped is-grouped-centered">
                <p class="control">
                    <button class="button is-success"  @click="searchSchemaContent"
                            :class="{'is-loading': loading}">
                        Search
                    </button>
                </p>
            </div>
                        <button class="button is-loading is-white" v-show="loading">Loading</button>

            <div class="notification " v-show="error">{{error}}</div>
            <div class="notification " v-show="success">{{success}}</div>



            <!--OR on mounted retrieve all campaign_id with schema and show a select list ID-CAMPAIGN TITLE-->
            <!--        <div class="select">-->
            <!--            <select>-->
            <!--                <option>Select Campaign ID</option>-->
            <!--                <option>1</option>-->
            <!--                <option>2</option>-->
            <!--                <option>...</option>-->
            <!--            </select>-->
            <!--        </div>-->

            <div class="box" v-if="values" style="width: 50%; margin: 5% auto">
                <h1 class="title is-5">Current data</h1>
                <div v-for="(val, key) in values" :key="key">
                    <span class="title is-6">{{key}}: </span>
                    <span>{{val}}</span>
                </div>
            </div>

            <FormSchema
                    style="margin-bottom: 2%"
                    v-if="schema" :schema="schema" v-model="model" :method="`get`"
                    ref="formSchema"
            >
                <!--            <button  type="submit">test</button>-->
                <!--            <button @click="submit">Subscribe</button>-->

            </FormSchema>

            <!--add idecran to content-->
            <div class="field input_width"  v-if="schema && action !== 'U'"  style="margin-bottom: 2%">
                <label class="">ID ecran</label>
                <div class="control">
                    <input  class="input " type="text" v-model="idecran" placeholder="Choose idecran" >
                </div>
            </div>

            <div v-if="schema" class="field is-grouped is-grouped-centered" style="margin-bottom: 5%">
                <p class="control">
                    <a class="button is-primary"  @click="submit_content">
                        Submit
                    </a>
                </p>
            </div>
            <div v-if="action === 'D' && values" class="field is-grouped is-grouped-centered" style="margin-bottom: 5%">
                <p class="control">
                    <a class="button is-danger"  @click="deleteContent">
                        Delete
                    </a>
                </p>
            </div>


        </div>
    </div>
</template>

<script>
  import FormSchema from '@formschema/native'
  // import schema from '../../../handler/schema.json'

  export default {
    name: 'Contents',
    props: {
    },
    data: () => ({
      schema: null,
      // schema: schema,
      model: {},
      campaign_id: "1",
      // campaign_id: null,
      error: null,
      success: null,
      idecran: null,
      action:false,
      loading:false,
      showSchema:false,
      showCampaignId:false,
      showIdEcran:false,
      values: null
    }),
    mounted() {
    },
    methods: {
      addStyle(){
        var input =  document.getElementsByTagName('input');
        for (var i = 0; i < input.length; i++) {
          input[i].classList.add('input');
        }
      },
      // set action value and show appropriate form
      crud(param){
        this.clear();
        if (param === 'reset'){
          this.action = null;
          return
        }
        this.action = param;
        this.showCampaignId = true;
        switch (param) {
          case 'C':
            this.showIdEcran = false;
            break;
          case 'R':
          case 'U':
          case 'D':
            this.showIdEcran = true;
            break
        }
      },
      clear(){
        this.campaign_id = null;
        this.idecran = null;
        this.schema = null;
        this.model = null;
        this.values = null;
        this.showCampaignId = false;
        this.showIdEcran = false;
        this.error = null;
        this.success = null;
      },
      getSchema(){
        this.loading = true;
        this.$axios.get(`schema?campaign_id=` + this.campaign_id)
          .then(response => {
            if (response.data.response) {
              this.schema = response.data.response
            } else
              this.error = "Schema not found";
            console.log(response.data);
          })
          .catch(e => {
            console.log("error on get schema", e);
            this.error = e.response.data.error
          });
        this.loading = false;

      },
      getContent(){
        this.loading = true;
        let url = "";
        if (this.idecran){
          url = `content?campaign_id=`+this.campaign_id+`&idecran=`+this.idecran;
        } else {
          url = `content?campaign_id=`+this.campaign_id;
        }
        this.$axios.get(url)
          .then(response => {
            console.log(response);
            if (response.data.response){
              this.values = response.data.response
            } else
              this.error = "Campaign content not found";
          })
          .catch(e => {
            console.log("error on get content", e);
            this.error = e.response.data.error
          });
        this.loading = false;

      },
      searchSchemaContent(){
        this.schema = null;
        this.error = null;
        this.values = null;
        if (this.campaign_id){
          // retrieve schema if action = update/create
          if (this.action !== 'R' && this.action !== 'D') {
            this.getSchema()
          }
          // retrieve content if action = update/read/delete
          if (this.action === 'U' || this.action === 'R' || this.action === 'D'){
            // GET campaign content
            this.getContent();
          }
        }
      },
      submit_content (){
        // handle create and update
        if (this.action === 'C' || this.action === 'U'){
          if (this.campaign_id && this.model) {

            // remove empty fields
            Object.keys(this.model).forEach((key) => (this.model[key] === "" || !this.model[key] || this.model[key].length === 0) && delete this.model[key]);

            // add idecran and campaign_id to content to post
            if (this.idecran)
              this.model.idecran = this.idecran;
            this.model.campaign_id = this.campaign_id;
            console.log(this.model);
            // action = CREATE
            if (this.action === 'C'){
              console.log("create", this.campaign_id, this.idecran, this.model);
              this.$axios.post(`content`, this.model)
                .then(response => {
                  console.log(response);
                  this.success= "Done!"
                })
                .catch(e => {
                  this.error = e.response.data.error;

                  console.log(e.response)
                })
            }
            else {
              // action = UPDATE
              console.log("update", this.campaign_id, this.idecran, this.model);

              this.$axios.put(`content`, this.model)
                .then(response => {
                  this.success="Done!";
                  this.values = this.model;
                  console.log(response)
                })
                .catch(e => {
                  console.log(e, e.response);
                  this.error = e.response.data.error
                })
              // Error message from backend JSON schema validation
              // {
              //   "error":
              //   "'test ' is not of type 'number'\n\nFailed validating 'type' in schema['properties']['photos']:\n {'title': 'Number of photos', 'type': 'number'}\n\nOn instance['photos']:\n 'test '"
              // },
            }
          }
        }
        // console.log(this.$refs.formSchema.form())
        // this.$refs.formSchema.setErrorMessage('Please fill out the required fields')

      },
      deleteContent(){
        if (this.campaign_id) {
          let url = "";
          if (this.idecran) {
            url = `content?campaign_id=` + this.campaign_id + `&idecran=` + this.idecran;
          } else {
            url = `content?campaign_id=` + this.campaign_id;
          }
          this.$axios.delete(url)
            .then(response => {
              this.success = "Done!";
              console.log(response)
            })
            .catch(e => {
              this.error = e.response.data.error;
              console.log(e)
            })
        }
      },
      test () {
        console.log("invalid");
        this.$refs.formSchema.checkValidity()
        // console.log(this.schema, this.model)
        // this.$refs.formSchema.load(this.schema, this.model)
        //
        // console.log(this.$refs.formSchema)
        //
        // this.$refs.formSchema.checkValidity((valid) => {
        //   console.log(valid)
        // })
        // // console.log(this.$refs.formSchema.checkValidity())

      },
      a () {
        console.log(this.model)
        // this.$refs.formSchema.validate((valid) => {
        //   if (valid) {
        //     // this.model contains the valid data according your JSON Schema.
        //     // You can submit your model to the server here
        //     console.log(JSON.stringify(this.model))
        //     this.$refs.formSchema.clearErrorMessage()
        //   } else {
        //     this.$refs.formSchema.setErrorMessage('Please fill out the required fields')
        //     return false
        //   }
        // })

        // this.model contains the valid data according your JSON Schema.
        // You can submit your model to the server here
      }
    },
    components: { FormSchema }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >
    .input_width{
        width: 30%;
        margin: 0 auto;
    }
</style>
