<template>
    <div class="container">


    </div>
</template>

<script>

  export default {
    name: 'Home',
    props: {
    },
    data: () => ({
    }),
    methods: {

    },
    components: {  }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >
    /*input{*/
    /*  display: block!important;*/
    /*}*/
</style>
