<template>
    <nav class="navbar is-transparent" >
        <div class="navbar-brand" >
            <!--      <div class="navbar-item">-->
            <!--          <img src="@/assets/logo.png" alt="" style="max-height:3.75rem">-->
            <!--      </div>-->
            <!--      <label class="navbar-burger burger" data-target="navbarExampleTransparentExample" for="nav-toggle-state" aria-label="menu" aria-expanded="false">-->
            <!--        <span></span>-->
            <!--        <span></span>-->
            <!--        <span></span>-->
            <!--      </label>-->
        </div>
        <!--    <input type="checkbox" id="nav-toggle-state"/>-->
        <div id="navbarExampleTransparentExample" class="navbar-menu">

            <div class="navbar-start">
                <span class="navbar-item"></span>
                <span class="navbar-item"></span>
<!--                <router-link :to="{ name: 'Home'}" class="navbar-item title is-6">Home</router-link>-->
                <router-link :to="{ name: 'Contents'}" class="navbar-item title is-6">Contents</router-link>
                <router-link :to="{ name: 'Schemas'}" class="navbar-item title is-6">Schemas</router-link>
                <router-link :to="{ name: 'Schemas'}" class="navbar-item title is-6"></router-link>
            </div>

        </div>
    </nav>
</template>


<script>
  export default {
    name: 'Navigation',
    mounted() {
    },
    computed: {
    },
    methods: {
    },
    watch: {
    },
  }
</script>

<style scoped>
    #nav {
        padding: 30px;
    }
    #nav a {
        font-weight: bold;
        color: #2c3e50;
    }
    #nav a.router-link-exact-active {
        color: #42b983;
    }
    .navbar-item {
        display: flex;
    }

    .navbar,
    .navbar-menu,
    .navbar-start,
    .navbar-end {
        align-items: stretch;
        display: flex;
        padding: 0;
    }

    .navbar-menu{
        flex-grow: 1;
        flex-shrink: 0;
        box-shadow: none!important;
    }
    .navbar-start{
        justify-content: flex-start;
        margin-right: auto;
    }
    .navbar-end{
        justify-content: flex-end;
        margin-left: auto;
    }
</style>