<template>
    <div class="container" style="width: 70%">
        <div class="buttons">
            <span class="button is-success is-outlined "
                  v-bind:class="{ 'is-focused': action==='C'}" @click="crud('C')"
            >Create</span>
            <span class="button is-info is-outlined"
                  v-bind:class="{ 'is-focused': action==='R'}" @click="crud('R')"
            >Show</span>
            <span class="button is-primary is-outlined"
                  v-bind:class="{ 'is-focused': action==='U'}" @click="crud('U')"
            >Update</span>
            <span class="button is-danger is-outlined"
                  v-bind:class="{ 'is-focused': action==='D'}" @click="crud('D')"
            >Delete</span>
            <span class="button" @click="crud('reset')">Reset</span>
        </div>

        <div class="notification " v-show="error">{{error}}</div>
        <div class="notification " v-show="success">{{success}}</div>

        <div class="field"  v-show="showCampaignId" >
            <label class="label">Campaign ID</label>
            <div class="control">
                <input v-model="campaign_id" class="input" type="text" placeholder="Campaign ID">
            </div>
        </div>
        <div class="box" v-if="value">
            <h1 class="title is-5">Current JSON Schema</h1>
            <pre>{{ value | pretty }}</pre>
        </div>
        <div class="field" v-show="showSchema">
            <label class="label">JSON Schema</label>
            <div class="control">
                <textarea v-model="schema" class="textarea" placeholder=""></textarea>
            </div>
        </div>

        <div class="field is-grouped" v-show="showCampaignId">
            <div class="control">
                <button @click="submit" class="button is-link">Submit</button>
            </div>
            <!--            <div class="control">-->
            <!--                <button  @click="cancel" class="button is-text">Cancel</button>-->
            <!--            </div>-->
        </div>



        <div v-if="action==='U' && showSchema" class="field is-grouped is-grouped-centered" style="margin-bottom: 5%">
            <p class="control">
                <a class="button is-primary"  @click="updateSchema">
                    Update
                </a>
            </p>
        </div>
        <div v-if="action === 'D' && value" class="field is-grouped is-grouped-centered" style="margin-bottom: 5%">
            <p class="control">
                <a class="button is-danger"  @click="deleteSchema">
                    Delete
                </a>
            </p>
        </div>
    </div>
</template>

<script>
  import schema from '../../../handler/schema.json'

  export default {
    name: 'Schemas',
    props: {
    },
    data: () => ({
      schema: null,
      action:false,
      campaign_id: null,
      showCampaignId:false,
      showSchema:false,
      error: null,
      success: null,
      value: null,
    }),
    mounted(){
    },
    methods: {
      clear(){
        this.campaign_id = null;
        this.schema = null;
        this.showCampaignId=false;
        this.showSchema=false;
        this.error = null;
        this.success = null;
        this.value = null;
      },
      crud(param){
        this.clear();
        if (param === 'reset'){
          this.action = null;
          return
        }
        this.action = param;
        this.showCampaignId=true;
        if (param === 'C')
          this.showSchema = true;
      },
      submit () {
        // console.log(this.campaign_id, this.schema);
        if (this.campaign_id) {

          this.showCampaignId = false;
          switch (this.action) {
            case 'C':
              if (this.schema) {

                this.$axios.post(`schema`, {campaign_id: this.campaign_id, schema: JSON.parse(this.schema)})
                  .then(response => {
                    console.log(response);
                    this.campaign_id = null;
                    this.schema = null;
                    this.success = 'Done!';
                  })
                  .catch(e => {
                    console.log(e);
                    this.error = e.response.data.error
                  });
              }
              break;
            case 'U':
              this.showSchema = true;
            case 'D':
            case 'R':
              // this.value = schema;
              this.$axios.get(`schema?campaign_id=` + this.campaign_id)
                .then(response => {
                  console.log(response.data);
                  if (response.data.response) {
                    this.value = response.data.response;
                  } else
                    this.error = "Schema not found";
                })
                .catch(e => {
                  console.log(e);
                  this.error = e.response.data.error
                });
              break;
          }
        }
      },
      cancel () {
        this.campaign_id = null;
        this.schema = null;
      },
      deleteSchema(){
        if (this.campaign_id) {
          let url = `schema?campaign_id=` + this.campaign_id;

          this.$axios.delete(url)
            .then(response => {
              this.success = "Done!";
              console.log(response)
            })
            .catch(e => {
              this.error = e.response.data.error;
              console.log(e)
            })
        }
      },
      updateSchema(){
        if (this.campaign_id && this.schema) {
          console.log(this.campaign_id, this.value, this.schema);
          this.$axios.put(`schema`, {campaign_id: this.campaign_id, schema: JSON.parse(this.schema)})

          // this.$axios.put(`schema`, this.schema)
            .then(response => {
              this.success = "Done!";
              console.log(response)
            })
            .catch(e => {
              console.log(e, e.response);
              this.error = e.response.data.error
            })
        }

      }

    },
    filters: {
      pretty: function(value) {
        return JSON.stringify(value, null, 2);
      }
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >

</style>
